* {
  font-family: "Montserrat", sans-serif;
}

main {
  margin: 5rem 2rem;
}

body {
  background: #111; /* dark base */
  position: relative;
  color: #d6d6d6;
}

body::before,
body::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  filter: blur(150px);
  opacity: 0.3;
}

body::before {
  top: -100px;
  left: -100px;
  background: #666;
}

body::after {
  bottom: -100px;
  right: -100px;
  background: #444;
}

h1 {
  font-size: 5rem;
  color: #f5f5f5;
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 5rem;
}

.glass-card {
  padding: 1rem 0.5rem;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  color: #e0e0e0;

  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.glass-card:hover {
  cursor: pointer;
  transform: translateY(-7px);
  box-shadow: 0 12px 32px rgba(255, 255, 255, 0.1);
}

.list-group-item {
  padding: 1rem 0;
  background: none;
  color: #ccc;
  border: 0.1px solid rgb(49, 49, 49);
}

.btn-primary {
  background-color: #666;
  border: none;
  color: #fff;
  transition: background 0.2s ease;
}

.btn-primary:hover {
  background-color: #999;
  color: #000;
}

.btn-secondary {
  background-color: #333;
  color: #fff;
  border: none;
}

.btn-secondary:hover {
  background-color: #555;
}

.modal-content {
  background-color: #1e1e1e;
  color: #eee;
  border: 1px solid #444;
}

input.form-control {
  background-color: #2a2a2a;
  color: #eee;
  border: 1px solid #555;
}

input.form-control:focus {
  background-color: #333;
  border-color: #888;
  color: #fff;
  box-shadow: none;
}
